/* general */

html{
    font-family: hackman, sans-serif;
    font-weight: 400;
    font-style: normal; 
    color: white;
    background-color: #050C14;
}

.container{
    width: 86%;
    margin: auto;
    padding-bottom: 50px;
}

h1{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 50px;
    font-family: hydrophilia-iced,sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    color: #9BBC0F;
}

/* images */

img{
    width:80%;
}

.wii{
    width: 30%;
}

.switch{
    width: 40%;
}

.xbox{
    width: 50%;
}

/* main content */

.upper-grid ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:none;
    align-items: baseline;
}

.upper-grid a{
    text-decoration: none;
    color: white;
}

.upper-grid li{
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
}

.lower-grid ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:none;
    align-items: baseline;
}

.lower-grid a{
    text-decoration: none;
    color: white;
}

.lower-grid li{
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;
}

ul h2{
    text-transform: uppercase;
}

/* footer */

.footer{
    background-color: #0F380F;
    margin-bottom: -20px;
    margin-left: -10px;
    margin-right: -10px;
}

.footer ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin:none;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #9BBC0F;
}

.footer a{
    text-decoration: none;
    color: #9BBC0F;
}

@media (max-width: 700px){
    .footer ul{
        display:block;
    }
}