body{
    background-color: antiquewhite;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 13pt;
    line-height: 1.5em;
}
.container{
    margin-left: 100px;
    margin-right: 100px;
}

h1{
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (max-width: 1200px){
    h1{
     line-height: 50px;
    }
 }

.desktop{
    margin-top: 20px;
}

.mobile{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20px;
}

.desktop img{
    width: 100%;
    margin:auto;
    align-self: center;
}

.mobile img{
    width: 100%;
}