/* general */

html{
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5em;
}

body{
    background-image: url(images/background_img2.png); 
    background-size: cover;
    margin-bottom: 0;
}

strong{
    color: #AE5173;
}


/* header */

.header{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left:0;
    padding-top: 20px;
    width: 80%;
    margin: auto;
    column-gap: 20px;
}

h1{
    font-size: 38pt;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #583542;
}

.prep{
    font-size: 15px;
    line-height: 20px;
}

/* info */

.info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* max-width: 1000px; */
    width: 80%;
    margin: auto;
    padding-top: 40px;
    column-gap: 20px;
}

.info img{
    width: 100%;
    
}

.info-box{
    background-color: #ECDBE5;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.info-box h4{
    margin-top: 0;
    padding-left: 25px;
}

.ingredients-crust, .ingredients-filling{
    margin-top: 25px;
}

/* directions */

.directions{
    /* max-width: 1000px; */
    width: 80%;
    margin: auto;
}

.description, .instructions-crust, .instructions-filling{
    width: 50%;
    padding-top: 50px;
}

.directions ol{
    padding-left: 10px;
}

.directions li{
    padding-bottom: 20px;
}

/* mobile images */

.image{
    display: none;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10%;
    padding: 0;
}

.image img{
    width: 100%;
}

.bottom-img img{
    margin-bottom: -50px;
}

@media (max-width: 1111px){
    h1{
        font-size: 36px;
    }
}

@media (max-width: 965px){
    .prep{
        line-height: 20px;
    }
}


@media (max-width: 945px){
    .header, .info, .directions{
        margin-left: 10%;
        margin-right: 10%;
    }
    body{
        background-image: none;
    }
    h1{
        font-size: 34px;
    }

    .prep{
        line-height: 20px;
    }

    .info{
        display: block;
    }

    .equipment{
        margin-top: 25px;
    }

    .description, .instructions-crust, .instructions-filling{
        width: 100%;
    }
}

@media (max-width: 785px){
    h1{
        font-size: 30px;
    }

    .header{
        display: block;
    }  
}

@media (max-width: 700px){
    .image{
        display: block;
    }

    h1{
        font-size: 25px;
    }
}


